sudo: false

jobs:
  include:
    - stage: compile
      dist: bionic
      language: cpp
      addons:
        apt:
          packages:
            - cmake
            - gcc
            - g++
            - autotools-dev
            - autoconf
            - m4
            - zlib1g-dev
            - cmake
            - libpoco-dev
            - libssl-dev
      script:
        - ./configure.sh
        - pushd out
        - make -j$(nproc)
    - stage: tests
      dist: bionic
      language: cpp
      addons:
        apt:
          packages:
            - cmake
            - gcc
            - g++
            - autotools-dev
            - autoconf
            - m4
            - zlib1g-dev
            - cmake
            - libpoco-dev
            - libssl-dev
      script:
        - sudo apt-get install autotools-dev autoconf m4 zlib1g-dev cmake libpoco-dev libssl-dev
        - ./configure.sh
        - pushd out
        - make -j$(nproc)
        - ./WolkAboutConnectorTests
    - stage: deploy
      if: branch = master
      branches:
        only:
          - master
      addons:
        apt:
          packages:
            - doxygen
      script:
        - doxygen Doxyfile
      deploy:
        provider: pages
        skip_cleanup: true
        local_dir: docs
        github_token: $GH_REPO_TOKEN
        on:
          branch: master
