[Unit]

Description=Service to start the ELabTest application

After=multi-user.target

[Service]

User=root

Type=simple

ExecStart=/opt/wolkabout/assignment/out/bin/simple

WorkingDirectory=/wolkabout

Restart=always

RestartSec=5

StandardOutput=syslog

StandardError=syslog

SyslogIdentifier=%n

[Install]

WantedBy=multi-user.target